html,body{
    width: 100%;
    height: 100%;
    margin:0;
    
}
body{

    margin:0 auto;
    padding:10px;
    width:90%;
    background-color:forestgreen;
    box-sizing:border-box;
    
}



header{
    margin:0 auto;
    padding:0;
    background-color:lightblue;
    width:90%;
    border: 4px solid black;
    text-align:center;
    line-height:3em;
    padding:5px;
    
    
}
.boxes{
    background-color: lightcoral;
    margin:0 auto;
    width:90%;
    text-align: center;
    padding: 5px;
    line-height: 3em;
    
    
}



#img{
    background-color: paleturquoise;
    height:7em;
    width:90%;
    margin: 0 auto;
    width:calc(100%/2);
    margin-bottom: 5px;
    text-align: center;
    
    
}


#text_1{
    background-color: lemonchiffon;
    height:7em;
    width:90%;
    width:calc(100%/2);
    margin: 0 auto;
    text-align: center;
    
}

.section2{
    background-color: lightgrey;
    margin:0 auto;
    width:90%;
    height: 10em;
    padding:5px;
    text-align: center;

    
    
}
#photo {
    margin: 0;
    padding: 0;
    width: calc(100%/2);
    float: left;
}
#photo2{
    margin: 0;
    padding: 0;
    width: calc(100%/2);
    float: right;
}
#text2{
    margin: 0;
    padding: 0;
    width: 100%;
    float: left;
}
article:nth-of-type(1){
    background-color: lightskyblue;
    float:left;
    height:7em;
    width:50%;
    width:calc(90%/2);
    margin: 0 auto;
    text-align: center;

}

article:nth-of-type(2){
    background-color: lightgrey;
    float: left;
    height:7em;
    width:50%;
    width:calc(90%/2);
    margin:0 auto; 
    margin-left: 1;
    text-align: center;
    
}
article:nth-of-type(3){
    background-color: limegreen;
    height:20%;
    width:50%;
    text-align: center;
    
    
   
}
.row{
    background-color: lavender;
    margin:0 auto;
    width:90%;
    text-align: center;
    padding: 5px;
    
    
}
p{
  background-color: lightgreen;
    height:10em;
    width:%;
    text-align: center;
}
button{
    background-color:goldenrod;
    width: 30%;
    height: 50%;
    border-radius: 10px;
    color:black;
}
footer{
    background-color: lightgreen;
     margin:0 auto;
    width: 90%;
    padding: 20px;
    text-align: center;
    padding: 5px;
    
      
}